extends layout
block content
  #banner.page-header
    .row 
      .col-lg-6
        h1
          | MekanBul
          small &nbsp; Civardaki mekanları keşfet!
  
  .row
    .row.list-group
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4
          a(href='/mekan')  Palermo
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 10km
        p.adress Fatih Mahallesi
        p
          span.label.label-warning  Kahveler
          | &nbsp;
          span.label.label-warning  Milkshake
          | &nbsp;
          span.label.label-warning  Kekler
          | &nbsp;

    .row.list-group
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4
          a(href='/mekan') Starbucks
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 9km
        p.adress  İyaş Market Yanı
        p
          span.label.label-warning  Kahveler
          | &nbsp;
          span.label.label-warning  Kekler
          | &nbsp;

    .row.list-group
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4
          a(href='/mekan')  Burç Fırın
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 15km
        p.adress  Barida Otel Karşısı
        p
          span.label.label-warning  Kahveler
          | &nbsp;
          span.label.label-warning  Kekler
          | &nbsp;
          span.label.label-warning Poğaça-Simit
          | &nbsp;
          span.label.label-warning Pastalar
          | &nbsp;